<nav class="navbar">
  <a [routerLink]="modoAdmin ? '/admin' : '/catalogo'" class="navbar-brand">
    <span class="brand-icon">✦</span> KPOP STORE
  </a>
  <div class="navbar-actions">
    <ng-container *ngIf="!modoAdmin">
      <a routerLink="/pedidos/historial" class="historial-btn">📋 Mis pedidos</a>
      <a routerLink="/carrito" class="carrito-btn">
        🛒 <span *ngIf="carritoService.cantidadTotal() > 0" class="carrito-badge">{{ carritoService.cantidadTotal() }}</span>
      </a>
    </ng-container>

    <ng-container *ngIf="modoAdmin">
      <a routerLink="/admin/productos" class="historial-btn">📦 Gestión de Productos</a>
      <a routerLink="/admin/reportes" class="historial-btn">📊 Reportes</a>
      <a routerLink="/admin/usuarios" class="historial-btn">👥 Gestión de Usuarios</a>
    </ng-container>

    <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </div>
</nav>
